<%- include('../template/header')-%>
<div class="row">
    <%- include('../template/nav-bar')-%>
    <div class="row-item">
        <div class="list-item">
            <div class="list-items" id="list-item-id" data-value="A" data-pageid = '1'>
                <!-- <div class="items">
                    <p>1</p>
                    <h6>Item A1</h6>
                </div>
                <div class="items">
                    <p>2</p>
                    <h6>Item A2</h6>
                </div>
                <div class="items">
                    <p>3</p>
                    <h6>Item A3</h6>
                </div> -->
            </div>
            <div class="arrows">
                <a href="#" id='previous'><i class="fa fa-angle-left"></i></a>
                <a href="#" id='next'><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<%- include('../template/footer_demo')-%>