<div class="row-item">
    <aside>
        <a id="drawer" href="#">Option</a>
    </aside>
</div>
<div class="row-item drawer">
    <aside>
        <select name="option" id="option" onchange="changeFunc(value);">
            <option selected value="A">A</option>
            <option value="B">B</option>
        </select>
    </aside>
</div>